In [357]:
import pandas as pd

In [358]:
path = '../assets/listings.csv'

In [359]:
df = pd.read_csv(path)

In [360]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [361]:
df.rename(columns = {'neighbourhood_group': 'borough'}, inplace = True)

In [362]:
df.head()

,id,name,host_id,host_name,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [363]:
df['last_review'].value_counts(dropna = False)

NaN           10711
2020-01-01      804
2020-01-02      671
2020-03-15      399
2020-03-08      376
              ...
2011-05-12        1
2014-06-28        1
2014-04-02        1
2017-02-24        1
2013-01-01        1
Name: last_review, Length: 2141, dtype: int64

In [364]:
df['reviews_per_month'].fillna(0, inplace = True)

In [365]:
df.head()

,id,name,host_id,host_name,borough,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340

In [366]:
columns = ['id', 'name', 'host_id', 'host_name', 'latitude', 'longitude', 'last_review']

In [367]:
df.drop(columns, axis = 1, inplace = True)

In [371]:
df.head()

,borough,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,Manhattan,Midtown,Entire home/apt,175,3,48,0.37,2,365
1,Brooklyn,Clinton Hill,Entire home/apt,75,1,340,4.75,1,265
2,Brooklyn,Bedford-Stuyvesant,Private room,60,29,50,0.37,1,365
3,Brooklyn,Sunset Park,Entire home/apt,175,14,1,0.01,1,295
4,Manhattan,Hell's Kitchen,Private room,65,2,473,3.44,1,340

In [374]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,46527.00000,46527.000000,46527.000000,46527.000000,46527.000000,46527.000000
mean,148.60567,8.519634,22.767167,0.697277,5.890451,121.142842
std,318.62788,23.050570,46.603900,1.186755,22.731346,142.517750
min,0.00000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,65.00000,2.000000,1.000000,0.020000,1.000000,0.000000
50%,100.00000,3.000000,4.000000,0.190000,1.000000,46.000000
75%,160.00000,6.000000,21.000000,0.870000,2.000000,252.000000
max,10000.00000,1250.000000,746.000000,46.240000,249.000000,365.000000

In [375]:
bronx = df[df['borough'] == 'Bronx']
bronx_list = bronx['neighbourhood'].unique()
bronx_dict = {}
for i in range(len(bronx_list)):
    bronx_dict['Bronx'] = bronx_list[i]
    print(bronx_dict)

{'Bronx': 'Highbridge'}
{'Bronx': 'Port Morris'}
{'Bronx': 'Clason Point'}
{'Bronx': 'Eastchester'}
{'Bronx': 'Kingsbridge'}
{'Bronx': 'Woodlawn'}
{'Bronx': 'University Heights'}
{'Bronx': 'Allerton'}
{'Bronx': 'Spuyten Duyvil'}
{'Bronx': 'Morris Heights'}
{'Bronx': 'Mott Haven'}
{'Bronx': 'Longwood'}
{'Bronx': 'Concourse'}
{'Bronx': 'Mount Eden'}
{'Bronx': 'City Island'}
{'Bronx': 'Williamsbridge'}
{'Bronx': 'Soundview'}
{'Bronx': 'Co-op City'}
{'Bronx': 'Parkchester'}
{'Bronx': 'North Riverdale'}
{'Bronx': 'Bronxdale'}
{'Bronx': 'Riverdale'}
{'Bronx': 'Norwood'}
{'Bronx': 'Claremont Village'}
{'Bronx': 'Fordham'}
{'Bronx': 'Concourse Village'}
{'Bronx': 'Mount Hope'}
{'Bronx': 'Wakefield'}
{'Bronx': 'Morris Park'}
{'Bronx': 'Tremont'}
{'Bronx': 'Hunts Point'}
{'Bronx': 'Pelham Bay'}
{'Bronx': 'Throgs Neck'}
{'Bronx': 'West Farms'}
{'Bronx': 'Morrisania'}
{'Bronx': 'Pelham Gardens'}
{'Bronx': 'Belmont'}
{'Bronx': 'East Morrisania'}
{'Bronx': 'Fieldston'}
{'Bronx': 'Baychester'}
{'Bronx': 'Melrose'}
{'Bronx': 'Van Nest'}
{'Bronx': 'Schuylerville'}
{'Bronx': 'Olinville'}
{'Bronx': 'Edenwald'}
{'Bronx': 'Unionport'}
{'Bronx': 'Westchester Square'}
{'Bronx': 'Castle Hill'}

In [376]:
brooklyn = df[df['borough'] == 'Brooklyn']
brooklyn_list = brooklyn['neighbourhood'].unique()
brooklyn_dict = {}
for i in range(len(brooklyn_list)):
    brooklyn_dict['Brooklyn'] = brooklyn_list[i]
    print(brooklyn_dict)

{'Brooklyn': 'Clinton Hill'}
{'Brooklyn': 'Bedford-Stuyvesant'}
{'Brooklyn': 'Sunset Park'}
{'Brooklyn': 'South Slope'}
{'Brooklyn': 'Williamsburg'}
{'Brooklyn': 'Fort Greene'}
{'Brooklyn': 'Windsor Terrace'}
{'Brooklyn': 'Flatbush'}
{'Brooklyn': 'Prospect-Lefferts Gardens'}
{'Brooklyn': 'Greenpoint'}
{'Brooklyn': 'Prospect Heights'}
{'Brooklyn': 'Park Slope'}
{'Brooklyn': 'Brooklyn Heights'}
{'Brooklyn': 'Bushwick'}
{'Brooklyn': 'Carroll Gardens'}
{'Brooklyn': 'Gowanus'}
{'Brooklyn': 'Flatlands'}
{'Brooklyn': 'Cobble Hill'}
{'Brooklyn': 'Boerum Hill'}
{'Brooklyn': 'Crown Heights'}
{'Brooklyn': 'East Flatbush'}
{'Brooklyn': 'Gravesend'}
{'Brooklyn': 'East New York'}
{'Brooklyn': 'Sheepshead Bay'}
{'Brooklyn': 'Fort Hamilton'}
{'Brooklyn': 'Bensonhurst'}
{'Brooklyn': 'Brighton Beach'}
{'Brooklyn': 'Cypress Hills'}
{'Brooklyn': 'Kensington'}
{'Brooklyn': 'Bay Ridge'}
{'Brooklyn': 'Columbia St'}
{'Brooklyn': 'Borough Park'}
{'Brooklyn': 'Downtown Brooklyn'}
{'Brooklyn': 'Vinegar Hill'}
{'Brooklyn': 'DUMBO'}
{'Brooklyn': 'Red Hook'}
{'Brooklyn': 'Canarsie'}
{'Brooklyn': 'Sea Gate'}
{'Brooklyn': 'Brownsville'}
{'Brooklyn': 'Midwood'}
{'Brooklyn': 'Navy Yard'}
{'Brooklyn': 'Dyker Heights'}
{'Brooklyn': 'Manhattan Beach'}
{'Brooklyn': 'Bergen Beach'}
{'Brooklyn': 'Coney Island'}
{'Brooklyn': 'Bath Beach'}
{'Brooklyn': 'Mill Basin'}
{'Brooklyn': 'Gerritsen Beach'}

In [377]:
manhattan = df[df['borough'] == 'Manhattan']
manhattan_list = manhattan['neighbourhood'].unique()
manhattan_dict = {}
for i in range(len(manhattan_list)):
    manhattan_dict['Manhattan'] = manhattan_list[i]
    print(manhattan_dict)

{'Manhattan': 'Midtown'}
{'Manhattan': "Hell's Kitchen"}
{'Manhattan': 'Upper West Side'}
{'Manhattan': 'Chinatown'}
{'Manhattan': 'West Village'}
{'Manhattan': 'East Harlem'}
{'Manhattan': 'Inwood'}
{'Manhattan': 'East Village'}
{'Manhattan': 'Harlem'}
{'Manhattan': 'Lower East Side'}
{'Manhattan': 'Chelsea'}
{'Manhattan': 'Kips Bay'}
{'Manhattan': 'Nolita'}
{'Manhattan': 'Upper East Side'}
{'Manhattan': 'Washington Heights'}
{'Manhattan': 'SoHo'}
{'Manhattan': 'Tribeca'}
{'Manhattan': 'NoHo'}
{'Manhattan': 'Morningside Heights'}
{'Manhattan': 'Flatiron District'}
{'Manhattan': 'Roosevelt Island'}
{'Manhattan': 'Greenwich Village'}
{'Manhattan': 'Little Italy'}
{'Manhattan': 'Financial District'}
{'Manhattan': 'Murray Hill'}
{'Manhattan': 'Gramercy'}
{'Manhattan': 'Theater District'}
{'Manhattan': 'Battery Park City'}
{'Manhattan': 'Two Bridges'}
{'Manhattan': 'Civic Center'}
{'Manhattan': 'Stuyvesant Town'}
{'Manhattan': 'Marble Hill'}

In [378]:
queens = df[df['borough'] == 'Queens']
queens_list = queens['neighbourhood'].unique()
queens_dict = {}
for i in range(len(queens_list)):
    queens_dict['Queens'] = queens_list[i]
    print(queens_dict)

{'Queens': 'Long Island City'}
{'Queens': 'Jamaica'}
{'Queens': 'Woodside'}
{'Queens': 'Flushing'}
{'Queens': 'Sunnyside'}
{'Queens': 'Ridgewood'}
{'Queens': 'Middle Village'}
{'Queens': 'Ditmars Steinway'}
{'Queens': 'Astoria'}
{'Queens': 'Queens Village'}
{'Queens': 'Rockaway Beach'}
{'Queens': 'Forest Hills'}
{'Queens': 'Corona'}
{'Queens': 'Elmhurst'}
{'Queens': 'St. Albans'}
{'Queens': 'Rego Park'}
{'Queens': 'Maspeth'}
{'Queens': 'Briarwood'}
{'Queens': 'Jackson Heights'}
{'Queens': 'Bayside'}
{'Queens': 'Arverne'}
{'Queens': 'Kew Gardens'}
{'Queens': 'College Point'}
{'Queens': 'East Elmhurst'}
{'Queens': 'Glendale'}
{'Queens': 'Richmond Hill'}
{'Queens': 'Woodhaven'}
{'Queens': 'Ozone Park'}
{'Queens': 'Bay Terrace'}
{'Queens': 'Whitestone'}
{'Queens': 'Fresh Meadows'}
{'Queens': 'South Ozone Park'}
{'Queens': 'Kew Gardens Hills'}
{'Queens': 'Jamaica Estates'}
{'Queens': 'Bellerose'}
{'Queens': 'Far Rockaway'}
{'Queens': 'Springfield Gardens'}
{'Queens': 'Neponsit'}
{'Queens': 'Laurelton'}
{'Queens': 'Holliswood'}
{'Queens': 'Edgemere'}
{'Queens': 'Rosedale'}
{'Queens': 'Cambria Heights'}
{'Queens': 'Howard Beach'}
{'Queens': 'Jamaica Hills'}
{'Queens': 'Hollis'}
{'Queens': 'Bayswater'}
{'Queens': 'Douglaston'}
{'Queens': 'Belle Harbor'}
{'Queens': 'Breezy Point'}
{'Queens': 'Little Neck'}

In [379]:
staten_island = df[df['borough'] == 'Staten Island']
staten_island_list = staten_island['neighbourhood'].unique()
staten_island_dict = {}
for i in range(len(staten_island_list)):
    staten_island_dict['Staten Island'] = staten_island_list[i]
    print(staten_island_dict)

{'Staten Island': 'St. George'}
{'Staten Island': 'Tompkinsville'}
{'Staten Island': 'Emerson Hill'}
{'Staten Island': 'Shore Acres'}
{'Staten Island': 'Arrochar'}
{'Staten Island': 'Clifton'}
{'Staten Island': 'Graniteville'}
{'Staten Island': 'Stapleton'}
{'Staten Island': 'Tottenville'}
{'Staten Island': 'Mariners Harbor'}
{'Staten Island': 'Concord'}
{'Staten Island': 'Woodrow'}
{'Staten Island': 'Eltingville'}
{'Staten Island': 'Lighthouse Hill'}
{'Staten Island': 'West Brighton'}
{'Staten Island': 'Dongan Hills'}
{'Staten Island': 'Castleton Corners'}
{'Staten Island': 'Todt Hill'}
{'Staten Island': 'Great Kills'}
{'Staten Island': 'Silver Lake'}
{'Staten Island': 'Randall Manor'}
{'Staten Island': 'Grymes Hill'}
{'Staten Island': 'New Brighton'}
{'Staten Island': 'Midland Beach'}
{'Staten Island': 'Richmondtown'}
{'Staten Island': 'Howland Hook'}
{'Staten Island': 'New Dorp Beach'}
{'Staten Island': "Prince's Bay"}
{'Staten Island': 'South Beach'}
{'Staten Island': 'Oakwood'}
{'Staten Island': 'Huguenot'}
{'Staten Island': 'Port Richmond'}
{'Staten Island': 'Westerleigh'}
{'Staten Island': 'Fort Wadsworth'}
{'Staten Island': 'New Springville'}
{'Staten Island': 'Arden Heights'}
{'Staten Island': "Bull's Head"}
{'Staten Island': 'Grant City'}
{'Staten Island': 'New Dorp'}
{'Staten Island': 'Willowbrook'}
{'Staten Island': 'Rosebank'}
{'Staten Island': 'Bay Terrace, Staten Island'}
{'Staten Island': 'Rossville'}

In [380]:
blist1 = pd.factorize(df['borough'], sort = True)[1]

borough_dict = {}
for i in range(len(blist1)):
    borough_dict[blist1[i]] = i
borough_dict

{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}

In [381]:
blist2 = pd.factorize(df['borough'], sort = True)[0]
df['borough'] = blist2

In [382]:
df.head()

,borough,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2,Midtown,Entire home/apt,175,3,48,0.37,2,365
1,1,Clinton Hill,Entire home/apt,75,1,340,4.75,1,265
2,1,Bedford-Stuyvesant,Private room,60,29,50,0.37,1,365
3,1,Sunset Park,Entire home/apt,175,14,1,0.01,1,295
4,2,Hell's Kitchen,Private room,65,2,473,3.44,1,340

In [383]:
nlist1 = pd.factorize(df['neighbourhood'], sort = True)[1]

neighbourhood_dict = {}
for i in range(len(nlist1)):
    neighbourhood_dict[nlist1[i]] = i
neighbourhood_dict

{'Allerton': 0,
 'Arden Heights': 1,
 'Arrochar': 2,
 'Arverne': 3,
 'Astoria': 4,
 'Bath Beach': 5,
 'Battery Park City': 6,
 'Bay Ridge': 7,
 'Bay Terrace': 8,
 'Bay Terrace, Staten Island': 9,
 'Baychester': 10,
 'Bayside': 11,
 'Bayswater': 12,
 'Bedford-Stuyvesant': 13,
 'Belle Harbor': 14,
 'Bellerose': 15,
 'Belmont': 16,
 'Bensonhurst': 17,
 'Bergen Beach': 18,
 'Boerum Hill': 19,
 'Borough Park': 20,
 'Breezy Point': 21,
 'Briarwood': 22,
 'Brighton Beach': 23,
 'Bronxdale': 24,
 'Brooklyn Heights': 25,
 'Brownsville': 26,
 "Bull's Head": 27,
 'Bushwick': 28,
 'Cambria Heights': 29,
 'Canarsie': 30,
 'Carroll Gardens': 31,
 'Castle Hill': 32,
 'Castleton Corners': 33,
 'Chelsea': 34,
 'Chinatown': 35,
 'City Island': 36,
 'Civic Center': 37,
 'Claremont Village': 38,
 'Clason Point': 39,
 'Clifton': 40,
 'Clinton Hill': 41,
 'Co-op City': 42,
 'Cobble Hill': 43,
 'College Point': 44,
 'Columbia St': 45,
 'Concord': 46,
 'Concourse': 47,
 'Concourse Village': 48,
 'Coney Island': 49,
 'Corona': 50,
 'Crown Heights': 51,
 'Cypress Hills': 52,
 'DUMBO': 53,
 'Ditmars Steinway': 54,
 'Dongan Hills': 55,
 'Douglaston': 56,
 'Downtown Brooklyn': 57,
 'Dyker Heights': 58,
 'East Elmhurst': 59,
 'East Flatbush': 60,
 'East Harlem': 61,
 'East Morrisania': 62,
 'East New York': 63,
 'East Village': 64,
 'Eastchester': 65,
 'Edenwald': 66,
 'Edgemere': 67,
 'Elmhurst': 68,
 'Eltingville': 69,
 'Emerson Hill': 70,
 'Far Rockaway': 71,
 'Fieldston': 72,
 'Financial District': 73,
 'Flatbush': 74,
 'Flatiron District': 75,
 'Flatlands': 76,
 'Flushing': 77,
 'Fordham': 78,
 'Forest Hills': 79,
 'Fort Greene': 80,
 'Fort Hamilton': 81,
 'Fort Wadsworth': 82,
 'Fresh Meadows': 83,
 'Gerritsen Beach': 84,
 'Glendale': 85,
 'Gowanus': 86,
 'Gramercy': 87,
 'Graniteville': 88,
 'Grant City': 89,
 'Gravesend': 90,
 'Great Kills': 91,
 'Greenpoint': 92,
 'Greenwich Village': 93,
 'Grymes Hill': 94,
 'Harlem': 95,
 "Hell's Kitchen": 96,
 'Highbridge': 97,
 'Hollis': 98,
 'Holliswood': 99,
 'Howard Beach': 100,
 'Howland Hook': 101,
 'Huguenot': 102,
 'Hunts Point': 103,
 'Inwood': 104,
 'Jackson Heights': 105,
 'Jamaica': 106,
 'Jamaica Estates': 107,
 'Jamaica Hills': 108,
 'Kensington': 109,
 'Kew Gardens': 110,
 'Kew Gardens Hills': 111,
 'Kingsbridge': 112,
 'Kips Bay': 113,
 'Laurelton': 114,
 'Lighthouse Hill': 115,
 'Little Italy': 116,
 'Little Neck': 117,
 'Long Island City': 118,
 'Longwood': 119,
 'Lower East Side': 120,
 'Manhattan Beach': 121,
 'Marble Hill': 122,
 'Mariners Harbor': 123,
 'Maspeth': 124,
 'Melrose': 125,
 'Middle Village': 126,
 'Midland Beach': 127,
 'Midtown': 128,
 'Midwood': 129,
 'Mill Basin': 130,
 'Morningside Heights': 131,
 'Morris Heights': 132,
 'Morris Park': 133,
 'Morrisania': 134,
 'Mott Haven': 135,
 'Mount Eden': 136,
 'Mount Hope': 137,
 'Murray Hill': 138,
 'Navy Yard': 139,
 'Neponsit': 140,
 'New Brighton': 141,
 'New Dorp': 142,
 'New Dorp Beach': 143,
 'New Springville': 144,
 'NoHo': 145,
 'Nolita': 146,
 'North Riverdale': 147,
 'Norwood': 148,
 'Oakwood': 149,
 'Olinville': 150,
 'Ozone Park': 151,
 'Park Slope': 152,
 'Parkchester': 153,
 'Pelham Bay': 154,
 'Pelham Gardens': 155,
 'Port Morris': 156,
 'Port Richmond': 157,
 "Prince's Bay": 158,
 'Prospect Heights': 159,
 'Prospect-Lefferts Gardens': 160,
 'Queens Village': 161,
 'Randall Manor': 162,
 'Red Hook': 163,
 'Rego Park': 164,
 'Richmond Hill': 165,
 'Richmondtown': 166,
 'Ridgewood': 167,
 'Riverdale': 168,
 'Rockaway Beach': 169,
 'Roosevelt Island': 170,
 'Rosebank': 171,
 'Rosedale': 172,
 'Rossville': 173,
 'Schuylerville': 174,
 'Sea Gate': 175,
 'Sheepshead Bay': 176,
 'Shore Acres': 177,
 'Silver Lake': 178,
 'SoHo': 179,
 'Soundview': 180,
 'South Beach': 181,
 'South Ozone Park': 182,
 'South Slope': 183,
 'Springfield Gardens': 184,
 'Spuyten Duyvil': 185,
 'St. Albans': 186,
 'St. George': 187,
 'Stapleton': 188,
 'Stuyvesant Town': 189,
 'Sunnyside': 190,
 'Sunset Park': 191,
 'Theater District': 192,
 'Throgs Neck': 193,
 'Todt Hill': 194,
 'Tompkinsville': 195,
 'Tottenville': 196,
 'Tremont': 197,
 'Tribeca': 198,
 'Two Bridges': 199,
 'Unionport': 200,
 'University Heights': 201,
 'Upper East Side': 202,
 'Upper West Side': 203,
 'Van Nest': 204,
 'Vinegar Hill': 205,
 'Wakefield': 206,
 'Washington Heights': 207,
 'West Brighton': 208,
 'West Farms': 209,
 'West Village': 210,
 'Westchester Square': 211,
 'Westerleigh': 212,
 'Whitestone': 213,
 'Williamsbridge': 214,
 'Williamsburg': 215,
 'Willowbrook': 216,
 'Windsor Terrace': 217,
 'Woodhaven': 218,
 'Woodlawn': 219,
 'Woodrow': 220,
 'Woodside': 221}

In [384]:
nlist2 = pd.factorize(df['neighbourhood'], sort = True)[0]
df['neighbourhood'] = nlist2

In [385]:
df.head()

,borough,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2,128,Entire home/apt,175,3,48,0.37,2,365
1,1,41,Entire home/apt,75,1,340,4.75,1,265
2,1,13,Private room,60,29,50,0.37,1,365
3,1,191,Entire home/apt,175,14,1,0.01,1,295
4,2,96,Private room,65,2,473,3.44,1,340

In [386]:
rlist1 = pd.factorize(df['room_type'], sort = True)[1]

room_type_dict = {}
for i in range(len(rlist1)):
    room_type_dict[rlist1[i]] = i
room_type_dict

{'Entire home/apt': 0, 'Hotel room': 1, 'Private room': 2, 'Shared room': 3}

In [387]:
rlist2 = pd.factorize(df['room_type'], sort = True)[0]
df['room_type'] = rlist2

In [388]:
df.head()

,borough,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,2,128,0,175,3,48,0.37,2,365
1,1,41,0,75,1,340,4.75,1,265
2,1,13,2,60,29,50,0.37,1,365
3,1,191,0,175,14,1,0.01,1,295
4,2,96,2,65,2,473,3.44,1,340

In [389]:
df.describe()

,borough,neighbourhood,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,46527.000000,46527.000000,46527.000000,46527.00000,46527.000000,46527.000000,46527.000000,46527.000000,46527.000000
mean,1.687816,108.134803,0.981086,148.60567,8.519634,22.767167,0.697277,5.890451,121.142842
std,0.747325,69.049104,1.027011,318.62788,23.050570,46.603900,1.186755,22.731346,142.517750
min,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000,0.000000,1.000000,0.000000
25%,1.000000,51.000000,0.000000,65.00000,2.000000,1.000000,0.020000,1.000000,0.000000
50%,2.000000,95.000000,0.000000,100.00000,3.000000,4.000000,0.190000,1.000000,46.000000
75%,2.000000,179.000000,2.000000,160.00000,6.000000,21.000000,0.870000,2.000000,252.000000
max,4.000000,221.000000,3.000000,10000.00000,1250.000000,746.000000,46.240000,249.000000,365.000000

In [302]:
X = df.drop('price')
y = df['price']

0        149
1        225
2        150
3         89
4         80
        ...
48890     70
48891     40
48892    115
48893     55
48894     90
Name: price, Length: 48895, dtype: int64

In [300]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [301]:
log_model = Pipeline([
    ('scaler', StandardScaler()),
    ('regression', LogisticRegression())
])

In [ ]:
log_model.fit