# Cleaning

In [1]:
import pandas as pd

In [2]:
path = './listings.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.head()

     id  ... availability_365
0  2595  ...              365
1  3831  ...              265
2  5121  ...              365
3  5136  ...              295
4  5178  ...              340

[5 rows x 16 columns]

In [5]:
df.rename(columns = {'neighbourhood_group': 'borough'}, inplace = True)

In [6]:
df.head()

     id  ... availability_365
0  2595  ...              365
1  3831  ...              265
2  5121  ...              365
3  5136  ...              295
4  5178  ...              340

[5 rows x 16 columns]

In [7]:
df['last_review'].value_counts(dropna = False)

NaN           10711
2020-01-01      804
2020-01-02      671
2020-03-15      399
2020-03-08      376
              ...
2014-07-08        1
2015-01-10        1
2013-06-01        1
2013-08-26        1
2015-03-02        1
Name: last_review, Length: 2141, dtype: int64

In [8]:
df['reviews_per_month'].fillna(0, inplace = True)

In [9]:
df.head()

     id  ... availability_365
0  2595  ...              365
1  3831  ...              265
2  5121  ...              365
3  5136  ...              295
4  5178  ...              340

[5 rows x 16 columns]

In [10]:
columns = ['id', 'name', 'host_id', 'host_name', 'last_review']

In [11]:
df.drop(columns, axis = 1, inplace = True)

In [12]:
df.head()

     borough  ... availability_365
0  Manhattan  ...              365
1   Brooklyn  ...              265
2   Brooklyn  ...              365
3   Brooklyn  ...              295
4  Manhattan  ...              340

[5 rows x 11 columns]

In [13]:
df.describe()

           latitude  ...  availability_365
count  46527.000000  ...      46527.000000
mean      40.729563  ...        121.142842
std        0.054974  ...        142.517750
min       40.508680  ...          0.000000
25%       40.689945  ...          0.000000
50%       40.724400  ...         46.000000
75%       40.763040  ...        252.000000
max       40.911690  ...        365.000000

[8 rows x 8 columns]

# Neighborhoods by Borough

In [14]:
bronx = df[df['borough'] == 'Bronx']
bronx_list = bronx['neighbourhood'].unique()
bronx_dict = {}
for i in range(len(bronx_list)):
    bronx_dict['Bronx'] = bronx_list[i]
    print(bronx_dict)

{'Bronx': 'Highbridge'}
{'Bronx': 'Port Morris'}
{'Bronx': 'Clason Point'}
{'Bronx': 'Eastchester'}
{'Bronx': 'Kingsbridge'}
{'Bronx': 'Woodlawn'}
{'Bronx': 'University Heights'}
{'Bronx': 'Allerton'}
{'Bronx': 'Spuyten Duyvil'}
{'Bronx': 'Morris Heights'}
{'Bronx': 'Mott Haven'}
{'Bronx': 'Longwood'}
{'Bronx': 'Concourse'}
{'Bronx': 'Mount Eden'}
{'Bronx': 'City Island'}
{'Bronx': 'Williamsbridge'}
{'Bronx': 'Soundview'}
{'Bronx': 'Co-op City'}
{'Bronx': 'Parkchester'}
{'Bronx': 'North Riverdale'}
{'Bronx': 'Bronxdale'}
{'Bronx': 'Riverdale'}
{'Bronx': 'Norwood'}
{'Bronx': 'Claremont Village'}
{'Bronx': 'Fordham'}
{'Bronx': 'Concourse Village'}
{'Bronx': 'Mount Hope'}
{'Bronx': 'Wakefield'}
{'Bronx': 'Morris Park'}
{'Bronx': 'Tremont'}
{'Bronx': 'Hunts Point'}
{'Bronx': 'Pelham Bay'}
{'Bronx': 'Throgs Neck'}
{'Bronx': 'West Farms'}
{'Bronx': 'Morrisania'}
{'Bronx': 'Pelham Gardens'}
{'Bronx': 'Belmont'}
{'Bronx': 'East Morrisania'}
{'Bronx': 'Fieldston'}
{'Bronx': 'Baychester'}
{'Bronx': 'Melrose'}
{'Bronx': 'Van Nest'}
{'Bronx': 'Schuylerville'}
{'Bronx': 'Olinville'}
{'Bronx': 'Edenwald'}
{'Bronx': 'Unionport'}
{'Bronx': 'Westchester Square'}
{'Bronx': 'Castle Hill'}

In [15]:
brooklyn = df[df['borough'] == 'Brooklyn']
brooklyn_list = brooklyn['neighbourhood'].unique()
brooklyn_dict = {}
for i in range(len(brooklyn_list)):
    brooklyn_dict['Brooklyn'] = brooklyn_list[i]
    print(brooklyn_dict)

{'Brooklyn': 'Clinton Hill'}
{'Brooklyn': 'Bedford-Stuyvesant'}
{'Brooklyn': 'Sunset Park'}
{'Brooklyn': 'South Slope'}
{'Brooklyn': 'Williamsburg'}
{'Brooklyn': 'Fort Greene'}
{'Brooklyn': 'Windsor Terrace'}
{'Brooklyn': 'Flatbush'}
{'Brooklyn': 'Prospect-Lefferts Gardens'}
{'Brooklyn': 'Greenpoint'}
{'Brooklyn': 'Prospect Heights'}
{'Brooklyn': 'Park Slope'}
{'Brooklyn': 'Brooklyn Heights'}
{'Brooklyn': 'Bushwick'}
{'Brooklyn': 'Carroll Gardens'}
{'Brooklyn': 'Gowanus'}
{'Brooklyn': 'Flatlands'}
{'Brooklyn': 'Cobble Hill'}
{'Brooklyn': 'Boerum Hill'}
{'Brooklyn': 'Crown Heights'}
{'Brooklyn': 'East Flatbush'}
{'Brooklyn': 'Gravesend'}
{'Brooklyn': 'East New York'}
{'Brooklyn': 'Sheepshead Bay'}
{'Brooklyn': 'Fort Hamilton'}
{'Brooklyn': 'Bensonhurst'}
{'Brooklyn': 'Brighton Beach'}
{'Brooklyn': 'Cypress Hills'}
{'Brooklyn': 'Kensington'}
{'Brooklyn': 'Bay Ridge'}
{'Brooklyn': 'Columbia St'}
{'Brooklyn': 'Borough Park'}
{'Brooklyn': 'Downtown Brooklyn'}
{'Brooklyn': 'Vinegar Hill'}
{'Brooklyn': 'DUMBO'}
{'Brooklyn': 'Red Hook'}
{'Brooklyn': 'Canarsie'}
{'Brooklyn': 'Sea Gate'}
{'Brooklyn': 'Brownsville'}
{'Brooklyn': 'Midwood'}
{'Brooklyn': 'Navy Yard'}
{'Brooklyn': 'Dyker Heights'}
{'Brooklyn': 'Manhattan Beach'}
{'Brooklyn': 'Bergen Beach'}
{'Brooklyn': 'Coney Island'}
{'Brooklyn': 'Bath Beach'}
{'Brooklyn': 'Mill Basin'}
{'Brooklyn': 'Gerritsen Beach'}

In [16]:
manhattan = df[df['borough'] == 'Manhattan']
manhattan_list = manhattan['neighbourhood'].unique()
manhattan_dict = {}
for i in range(len(manhattan_list)):
    manhattan_dict['Manhattan'] = manhattan_list[i]
    print(manhattan_dict)

{'Manhattan': 'Midtown'}
{'Manhattan': "Hell's Kitchen"}
{'Manhattan': 'Upper West Side'}
{'Manhattan': 'Chinatown'}
{'Manhattan': 'West Village'}
{'Manhattan': 'East Harlem'}
{'Manhattan': 'Inwood'}
{'Manhattan': 'East Village'}
{'Manhattan': 'Harlem'}
{'Manhattan': 'Lower East Side'}
{'Manhattan': 'Chelsea'}
{'Manhattan': 'Kips Bay'}
{'Manhattan': 'Nolita'}
{'Manhattan': 'Upper East Side'}
{'Manhattan': 'Washington Heights'}
{'Manhattan': 'SoHo'}
{'Manhattan': 'Tribeca'}
{'Manhattan': 'NoHo'}
{'Manhattan': 'Morningside Heights'}
{'Manhattan': 'Flatiron District'}
{'Manhattan': 'Roosevelt Island'}
{'Manhattan': 'Greenwich Village'}
{'Manhattan': 'Little Italy'}
{'Manhattan': 'Financial District'}
{'Manhattan': 'Murray Hill'}
{'Manhattan': 'Gramercy'}
{'Manhattan': 'Theater District'}
{'Manhattan': 'Battery Park City'}
{'Manhattan': 'Two Bridges'}
{'Manhattan': 'Civic Center'}
{'Manhattan': 'Stuyvesant Town'}
{'Manhattan': 'Marble Hill'}

In [17]:
queens = df[df['borough'] == 'Queens']
queens_list = queens['neighbourhood'].unique()
queens_dict = {}
for i in range(len(queens_list)):
    queens_dict['Queens'] = queens_list[i]
    print(queens_dict)

{'Queens': 'Long Island City'}
{'Queens': 'Jamaica'}
{'Queens': 'Woodside'}
{'Queens': 'Flushing'}
{'Queens': 'Sunnyside'}
{'Queens': 'Ridgewood'}
{'Queens': 'Middle Village'}
{'Queens': 'Ditmars Steinway'}
{'Queens': 'Astoria'}
{'Queens': 'Queens Village'}
{'Queens': 'Rockaway Beach'}
{'Queens': 'Forest Hills'}
{'Queens': 'Corona'}
{'Queens': 'Elmhurst'}
{'Queens': 'St. Albans'}
{'Queens': 'Rego Park'}
{'Queens': 'Maspeth'}
{'Queens': 'Briarwood'}
{'Queens': 'Jackson Heights'}
{'Queens': 'Bayside'}
{'Queens': 'Arverne'}
{'Queens': 'Kew Gardens'}
{'Queens': 'College Point'}
{'Queens': 'East Elmhurst'}
{'Queens': 'Glendale'}
{'Queens': 'Richmond Hill'}
{'Queens': 'Woodhaven'}
{'Queens': 'Ozone Park'}
{'Queens': 'Bay Terrace'}
{'Queens': 'Whitestone'}
{'Queens': 'Fresh Meadows'}
{'Queens': 'South Ozone Park'}
{'Queens': 'Kew Gardens Hills'}
{'Queens': 'Jamaica Estates'}
{'Queens': 'Bellerose'}
{'Queens': 'Far Rockaway'}
{'Queens': 'Springfield Gardens'}
{'Queens': 'Neponsit'}
{'Queens': 'Laurelton'}
{'Queens': 'Holliswood'}
{'Queens': 'Edgemere'}
{'Queens': 'Rosedale'}
{'Queens': 'Cambria Heights'}
{'Queens': 'Howard Beach'}
{'Queens': 'Jamaica Hills'}
{'Queens': 'Hollis'}
{'Queens': 'Bayswater'}
{'Queens': 'Douglaston'}
{'Queens': 'Belle Harbor'}
{'Queens': 'Breezy Point'}
{'Queens': 'Little Neck'}

In [18]:
staten_island = df[df['borough'] == 'Staten Island']
staten_island_list = staten_island['neighbourhood'].unique()
staten_island_dict = {}
for i in range(len(staten_island_list)):
    staten_island_dict['Staten Island'] = staten_island_list[i]
    print(staten_island_dict)

{'Staten Island': 'St. George'}
{'Staten Island': 'Tompkinsville'}
{'Staten Island': 'Emerson Hill'}
{'Staten Island': 'Shore Acres'}
{'Staten Island': 'Arrochar'}
{'Staten Island': 'Clifton'}
{'Staten Island': 'Graniteville'}
{'Staten Island': 'Stapleton'}
{'Staten Island': 'Tottenville'}
{'Staten Island': 'Mariners Harbor'}
{'Staten Island': 'Concord'}
{'Staten Island': 'Woodrow'}
{'Staten Island': 'Eltingville'}
{'Staten Island': 'Lighthouse Hill'}
{'Staten Island': 'West Brighton'}
{'Staten Island': 'Dongan Hills'}
{'Staten Island': 'Castleton Corners'}
{'Staten Island': 'Todt Hill'}
{'Staten Island': 'Great Kills'}
{'Staten Island': 'Silver Lake'}
{'Staten Island': 'Randall Manor'}
{'Staten Island': 'Grymes Hill'}
{'Staten Island': 'New Brighton'}
{'Staten Island': 'Midland Beach'}
{'Staten Island': 'Richmondtown'}
{'Staten Island': 'Howland Hook'}
{'Staten Island': 'New Dorp Beach'}
{'Staten Island': "Prince's Bay"}
{'Staten Island': 'South Beach'}
{'Staten Island': 'Oakwood'}
{'Staten Island': 'Huguenot'}
{'Staten Island': 'Port Richmond'}
{'Staten Island': 'Westerleigh'}
{'Staten Island': 'Fort Wadsworth'}
{'Staten Island': 'New Springville'}
{'Staten Island': 'Arden Heights'}
{'Staten Island': "Bull's Head"}
{'Staten Island': 'Grant City'}
{'Staten Island': 'New Dorp'}
{'Staten Island': 'Willowbrook'}
{'Staten Island': 'Rosebank'}
{'Staten Island': 'Bay Terrace, Staten Island'}
{'Staten Island': 'Rossville'}

# Encoding

In [19]:
blist1 = pd.factorize(df['borough'], sort = True)[1]

borough_dict = {}
for i in range(len(blist1)):
    borough_dict[blist1[i]] = i
borough_dict

{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}

In [20]:
blist2 = pd.factorize(df['borough'], sort = True)[0]
df['borough'] = blist2

In [21]:
df.head()

   borough  ... availability_365
0        2  ...              365
1        1  ...              265
2        1  ...              365
3        1  ...              295
4        2  ...              340

[5 rows x 11 columns]

In [22]:
nlist1 = pd.factorize(df['neighbourhood'], sort = True)[1]

neighbourhood_dict = {}
for i in range(len(nlist1)):
    neighbourhood_dict[nlist1[i]] = i
neighbourhood_dict

{'Allerton': 0,
 'Arden Heights': 1,
 'Arrochar': 2,
 'Arverne': 3,
 'Astoria': 4,
 'Bath Beach': 5,
 'Battery Park City': 6,
 'Bay Ridge': 7,
 'Bay Terrace': 8,
 'Bay Terrace, Staten Island': 9,
 'Baychester': 10,
 'Bayside': 11,
 'Bayswater': 12,
 'Bedford-Stuyvesant': 13,
 'Belle Harbor': 14,
 'Bellerose': 15,
 'Belmont': 16,
 'Bensonhurst': 17,
 'Bergen Beach': 18,
 'Boerum Hill': 19,
 'Borough Park': 20,
 'Breezy Point': 21,
 'Briarwood': 22,
 'Brighton Beach': 23,
 'Bronxdale': 24,
 'Brooklyn Heights': 25,
 'Brownsville': 26,
 "Bull's Head": 27,
 'Bushwick': 28,
 'Cambria Heights': 29,
 'Canarsie': 30,
 'Carroll Gardens': 31,
 'Castle Hill': 32,
 'Castleton Corners': 33,
 'Chelsea': 34,
 'Chinatown': 35,
 'City Island': 36,
 'Civic Center': 37,
 'Claremont Village': 38,
 'Clason Point': 39,
 'Clifton': 40,
 'Clinton Hill': 41,
 'Co-op City': 42,
 'Cobble Hill': 43,
 'College Point': 44,
 'Columbia St': 45,
 'Concord': 46,
 'Concourse': 47,
 'Concourse Village': 48,
 'Coney Island': 49,
 'Corona': 50,
 'Crown Heights': 51,
 'Cypress Hills': 52,
 'DUMBO': 53,
 'Ditmars Steinway': 54,
 'Dongan Hills': 55,
 'Douglaston': 56,
 'Downtown Brooklyn': 57,
 'Dyker Heights': 58,
 'East Elmhurst': 59,
 'East Flatbush': 60,
 'East Harlem': 61,
 'East Morrisania': 62,
 'East New York': 63,
 'East Village': 64,
 'Eastchester': 65,
 'Edenwald': 66,
 'Edgemere': 67,
 'Elmhurst': 68,
 'Eltingville': 69,
 'Emerson Hill': 70,
 'Far Rockaway': 71,
 'Fieldston': 72,
 'Financial District': 73,
 'Flatbush': 74,
 'Flatiron District': 75,
 'Flatlands': 76,
 'Flushing': 77,
 'Fordham': 78,
 'Forest Hills': 79,
 'Fort Greene': 80,
 'Fort Hamilton': 81,
 'Fort Wadsworth': 82,
 'Fresh Meadows': 83,
 'Gerritsen Beach': 84,
 'Glendale': 85,
 'Gowanus': 86,
 'Gramercy': 87,
 'Graniteville': 88,
 'Grant City': 89,
 'Gravesend': 90,
 'Great Kills': 91,
 'Greenpoint': 92,
 'Greenwich Village': 93,
 'Grymes Hill': 94,
 'Harlem': 95,
 "Hell's Kitchen": 96,
 'Highbridge': 97,
 'Hollis': 98,
 'Holliswood': 99,
 'Howard Beach': 100,
 'Howland Hook': 101,
 'Huguenot': 102,
 'Hunts Point': 103,
 'Inwood': 104,
 'Jackson Heights': 105,
 'Jamaica': 106,
 'Jamaica Estates': 107,
 'Jamaica Hills': 108,
 'Kensington': 109,
 'Kew Gardens': 110,
 'Kew Gardens Hills': 111,
 'Kingsbridge': 112,
 'Kips Bay': 113,
 'Laurelton': 114,
 'Lighthouse Hill': 115,
 'Little Italy': 116,
 'Little Neck': 117,
 'Long Island City': 118,
 'Longwood': 119,
 'Lower East Side': 120,
 'Manhattan Beach': 121,
 'Marble Hill': 122,
 'Mariners Harbor': 123,
 'Maspeth': 124,
 'Melrose': 125,
 'Middle Village': 126,
 'Midland Beach': 127,
 'Midtown': 128,
 'Midwood': 129,
 'Mill Basin': 130,
 'Morningside Heights': 131,
 'Morris Heights': 132,
 'Morris Park': 133,
 'Morrisania': 134,
 'Mott Haven': 135,
 'Mount Eden': 136,
 'Mount Hope': 137,
 'Murray Hill': 138,
 'Navy Yard': 139,
 'Neponsit': 140,
 'New Brighton': 141,
 'New Dorp': 142,
 'New Dorp Beach': 143,
 'New Springville': 144,
 'NoHo': 145,
 'Nolita': 146,
 'North Riverdale': 147,
 'Norwood': 148,
 'Oakwood': 149,
 'Olinville': 150,
 'Ozone Park': 151,
 'Park Slope': 152,
 'Parkchester': 153,
 'Pelham Bay': 154,
 'Pelham Gardens': 155,
 'Port Morris': 156,
 'Port Richmond': 157,
 "Prince's Bay": 158,
 'Prospect Heights': 159,
 'Prospect-Lefferts Gardens': 160,
 'Queens Village': 161,
 'Randall Manor': 162,
 'Red Hook': 163,
 'Rego Park': 164,
 'Richmond Hill': 165,
 'Richmondtown': 166,
 'Ridgewood': 167,
 'Riverdale': 168,
 'Rockaway Beach': 169,
 'Roosevelt Island': 170,
 'Rosebank': 171,
 'Rosedale': 172,
 'Rossville': 173,
 'Schuylerville': 174,
 'Sea Gate': 175,
 'Sheepshead Bay': 176,
 'Shore Acres': 177,
 'Silver Lake': 178,
 'SoHo': 179,
 'Soundview': 180,
 'South Beach': 181,
 'South Ozone Park': 182,
 'South Slope': 183,
 'Springfield Gardens': 184,
 'Spuyten Duyvil': 185,
 'St. Albans': 186,
 'St. George': 187,
 'Stapleton': 188,
 'Stuyvesant Town': 189,
 'Sunnyside': 190,
 'Sunset Park': 191,
 'Theater District': 192,
 'Throgs Neck': 193,
 'Todt Hill': 194,
 'Tompkinsville': 195,
 'Tottenville': 196,
 'Tremont': 197,
 'Tribeca': 198,
 'Two Bridges': 199,
 'Unionport': 200,
 'University Heights': 201,
 'Upper East Side': 202,
 'Upper West Side': 203,
 'Van Nest': 204,
 'Vinegar Hill': 205,
 'Wakefield': 206,
 'Washington Heights': 207,
 'West Brighton': 208,
 'West Farms': 209,
 'West Village': 210,
 'Westchester Square': 211,
 'Westerleigh': 212,
 'Whitestone': 213,
 'Williamsbridge': 214,
 'Williamsburg': 215,
 'Willowbrook': 216,
 'Windsor Terrace': 217,
 'Woodhaven': 218,
 'Woodlawn': 219,
 'Woodrow': 220,
 'Woodside': 221}

In [23]:
nlist2 = pd.factorize(df['neighbourhood'], sort = True)[0]
df['neighbourhood'] = nlist2

In [24]:
df.head()

   borough  neighbourhood  ...  calculated_host_listings_count  availability_365
0        2            128  ...                               2               365
1        1             41  ...                               1               265
2        1             13  ...                               1               365
3        1            191  ...                               1               295
4        2             96  ...                               1               340

[5 rows x 11 columns]

In [25]:
rlist1 = pd.factorize(df['room_type'], sort = True)[1]

room_type_dict = {}
for i in range(len(rlist1)):
    room_type_dict[rlist1[i]] = i
room_type_dict

{'Entire home/apt': 0, 'Hotel room': 1, 'Private room': 2, 'Shared room': 3}

In [26]:
rlist2 = pd.factorize(df['room_type'], sort = True)[0]
df['room_type'] = rlist2

In [27]:
df.head()

   borough  neighbourhood  ...  calculated_host_listings_count  availability_365
0        2            128  ...                               2               365
1        1             41  ...                               1               265
2        1             13  ...                               1               365
3        1            191  ...                               1               295
4        2             96  ...                               1               340

[5 rows x 11 columns]

In [28]:
df.describe()

            borough  ...  availability_365
count  46527.000000  ...      46527.000000
mean       1.687816  ...        121.142842
std        0.747325  ...        142.517750
min        0.000000  ...          0.000000
25%        1.000000  ...          0.000000
50%        2.000000  ...         46.000000
75%        2.000000  ...        252.000000
max        4.000000  ...        365.000000

[8 rows x 11 columns]

# Feature Importance

In [29]:
X = df.drop('price', axis = 1)
y = df['price']

In [30]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [31]:
from sklearn.linear_model import Ridge
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [32]:
pipe = Pipeline([
    ('regression', Ridge(random_state = 42))
])

In [33]:
# Fit model on training data
pipe.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('regression',
                 Ridge(alpha=1.0, copy_X=True, fit_intercept=True,
                       max_iter=None, normalize=False, random_state=42,
                       solver='auto', tol=0.001))],
         verbose=False)

In [34]:
# Check performance metric (accuracy) on train, validation, and test sets
print('Training R^2:', pipe.score(X_train, y_train))
print('Testing R^2:', pipe.score(X_test, y_test))

Training R^2: 0.03983524394297899
Testing R^2: 0.04214363889402383

In [35]:
# borough	neighbourhood	latitude	longitude 
# room_type	minimum_nights number_of_reviews	reviews_per_month	
# calculated_host_listings_count	availability_365
pipe.named_steps['regression'].coef_

array([ 1.42247303e+01,  5.98585456e-02,  1.05759851e+02, -5.18277098e+02,
       -4.81836638e+01, -1.34978029e-01, -1.95413294e-01, -6.45133264e+00,
       -2.83063763e-01,  1.44497650e-01])

# Baseline Model

In [36]:
columns = ['latitude',	'longitude', 'price',	'minimum_nights',
           'number_of_reviews',	'reviews_per_month',
           'calculated_host_listings_count',	'availability_365']

In [37]:
X = df.drop(columns, axis = 1)
y = df['price']

In [39]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [46]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline
from scipy.stats import randint, uniform
from sklearn.model_selection import RandomizedSearchCV

In [47]:
pipeline = make_pipeline(
    RandomForestRegressor(random_state=42)
)

param_distributions = {
    'randomforestregressor__n_estimators': randint(50, 500), 
    'randomforestregressor__max_depth': [5, 10, 15, 20, None], 
    'randomforestregressor__max_features': uniform(0, 1), 
}

search = RandomizedSearchCV(
    pipeline, 
    param_distributions=param_distributions, 
    n_iter=10, 
    cv=3, 
    scoring='neg_mean_absolute_error', 
    verbose=10, 
    return_train_score=True, 
    n_jobs=-1
)

search.fit(X_train, y_train);

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 tasks      | elapsed:    3.5s
[Parallel(n_jobs=-1)]: Done   4 tasks      | elapsed:    6.7s
[Parallel(n_jobs=-1)]: Done   9 tasks      | elapsed:   14.0s
[Parallel(n_jobs=-1)]: Done  14 tasks      | elapsed:   17.8s
[Parallel(n_jobs=-1)]: Done  21 tasks      | elapsed:   32.4s
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:   47.9s finished

In [48]:
print('Best hyperparameters', search.best_params_)
print('Cross-validation MAE', -search.best_score_)

Best hyperparameters {'randomforestregressor__max_depth': 10, 'randomforestregressor__max_features': 0.4941424881948481, 'randomforestregressor__n_estimators': 173}
Cross-validation MAE 79.80338973446635

In [49]:
from joblib import dump
dump(search, 'random_forest.joblib')

['random_forest.joblib']

# Neural Network

In [ ]:
# Our Model
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

def create_model():

  model = Sequential(
      [
       Dense(8, activation='relu', kernel_initializer='normal', input_dim=8),
       Dense(1, kernel_initializer='normal')       
      ]
)
  model.compile(optimizer='adam', loss='mean_squared_error')
  return model

In [ ]:
model = create_model()
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 9
=================================================================
Total params: 81
Trainable params: 81
Non-trainable params: 0
_________________________________________________________________

In [ ]:
baseline = model.fit(X_train, y_train,
                     epochs=30,
                     validation_data=(X_test, y_test))

Epoch 1/30
1164/1164 [==============================] - 2s 2ms/step - loss: 109307.0547 - val_loss: 93794.9375
Epoch 2/30
1164/1164 [==============================] - 2s 2ms/step - loss: 106500.1406 - val_loss: 93432.3906
Epoch 3/30
1164/1164 [==============================] - 2s 2ms/step - loss: 106238.7031 - val_loss: 93223.2891
Epoch 4/30
1164/1164 [==============================] - 2s 2ms/step - loss: 105946.5078 - val_loss: 92883.5859
Epoch 5/30
1164/1164 [==============================] - 2s 2ms/step - loss: 105608.8828 - val_loss: 92530.7266
Epoch 6/30
1164/1164 [==============================] - 2s 2ms/step - loss: 105236.1719 - val_loss: 92167.7578
Epoch 7/30
1164/1164 [==============================] - 2s 2ms/step - loss: 104829.5938 - val_loss: 92144.4297
Epoch 8/30
1164/1164 [==============================] - 2s 2ms/step - loss: 104359.3203 - val_loss: 91285.8281
Epoch 9/30
1164/1164 [==============================] - 2s 2ms/step - loss: 103844.0859 - val_loss: 90769.4922
Epoch 10/30
1164/1164 [==============================] - 2s 2ms/step - loss: 103288.3047 - val_loss: 90114.8984
Epoch 11/30
1164/1164 [==============================] - 2s 2ms/step - loss: 102730.0156 - val_loss: 89634.5547
Epoch 12/30
1164/1164 [==============================] - 2s 2ms/step - loss: 102287.4062 - val_loss: 89284.6250
Epoch 13/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101955.5156 - val_loss: 88957.2969
Epoch 14/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101640.8828 - val_loss: 88724.3516
Epoch 15/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101484.6484 - val_loss: 89066.9062
Epoch 16/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101370.1719 - val_loss: 88838.2109
Epoch 17/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101257.3047 - val_loss: 88361.4297
Epoch 18/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101143.7734 - val_loss: 88422.5859
Epoch 19/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101092.8906 - val_loss: 88284.2812
Epoch 20/30
1164/1164 [==============================] - 2s 2ms/step - loss: 101027.7812 - val_loss: 88210.8281
Epoch 21/30
1164/1164 [==============================] - 3s 2ms/step - loss: 100932.2109 - val_loss: 88367.2969
Epoch 22/30
1164/1164 [==============================] - 3s 2ms/step - loss: 100887.5781 - val_loss: 88020.9219
Epoch 23/30
1164/1164 [==============================] - 3s 2ms/step - loss: 100823.2188 - val_loss: 87955.1484
Epoch 24/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100742.6094 - val_loss: 87912.5859
Epoch 25/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100668.6484 - val_loss: 88187.9297
Epoch 26/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100626.4766 - val_loss: 87840.6016
Epoch 27/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100563.7969 - val_loss: 88148.9531
Epoch 28/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100486.6172 - val_loss: 87698.4375
Epoch 29/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100435.2266 - val_loss: 87684.1641
Epoch 30/30
1164/1164 [==============================] - 2s 2ms/step - loss: 100391.4922 - val_loss: 87780.3281